<form>
    <span>Kullanıcı Adı:</span>
    <input name="kadi" type="text" />
    <br />

    <span>Şifre:</span>
    <input name="sifre" type="password" />
    <br />

    <button type="submit">Giriş Yap</button>
</form>